[GLOBAL]
pants_version = "2.1.0"
backend_packages = [
  "pants.backend.python", 
  "pants.backend.python.lint.black",
  "pants.backend.python.lint.flake8"
]

[python-setup]
interpreter_constraints = ["==3.8.*"]

# We search for interpreters on both on the $PATH and in the `$(pyenv root)/versions` folder.
#  If you're using macOS, you may want to leave off the <PATH> entry to avoid using the
#  problematic system Pythons. See
#  https://www.pantsbuild.org/docs/python-interpreter-compatibility#changing-the-interpreter-search-path.
interpreter_search_paths = ["<PATH>", "<PYENV>"]

[black]
args = ["--line-length", "79"]