name: Pants

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    # env:
    #   PANTS_CONFIG_FILES: pants.ci.toml

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.8]

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      # TODO: consider this to make Pants bootstrap faster?
      # - uses: actions/cache@v2
      #   with:
      #     path: ${{ env.pythonLocation }}
      #     key: ${{ env.pythonLocation }}-${{ hashFiles('setup.py') }}-${{ hashFiles('dev-requirements.txt') }}

      - uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-{{ env.pythonLocation }}

      - name: Bootstrap
        run: |
          pip install virtualenv
          ./pants --version

      # TODO: enable linting step
      # - name: Lint
      #   run: |
      #     ./pants lint ::

      - name: Test
        run: |
          ./pants test ::
